<html>
    <head>
        <title>List Your Product</title>
    </head>
    <body>
        <form action='/wholeSellerListing' method="post">
            <label>Name</label>
            <input type="text" name='title'>
            <label>Price</label>
            <input type='text' name='price'>
            <label>Quantity</label>
            <input type="number" min="1" name="stock">
            <input type="file"  id="file" name="img"/> 
            <input type="submit" value="Submit">
        </form>
    </body>
</html>